certifi==2024.8.30
certifi==2025.1.31
dnspython==2.7.0
eventlet==0.33.0
Flask==2.0.3
Flask_SocketIO==5.1.1
Flask_SocketIO==5.5.1
httpx==0.28.1
lxml==5.4.0
matplotlib==3.10.3
networkx==3.4.2
PyQt5==5.15.11
PyQt5_sip==12.17.0
pytest==8.4.1
python-socketio==5.13.0
PyYAML==6.0.2
PyYAML==6.0.2
Requests==2.32.4
ruamel.base==1.0.0
setuptools==80.8.0
setuptools==79.0.1
tldextract==5.2.0
Werkzeug==3.1.3
